.DS_Store
.DS_Store
.DS_Store
/_data/INHER_Publications_20160815.csv
.DS_Store
.DS_Store
/_site/assets/imgs/Garudmaachi_lowres.jpeg
.DS_Store
/_site/course/2018/01/27/Herpetology-Course.html
.DS_Store
/assets/.DS_Store
assets/.DS_Store
/_site/*
_site/*
/assets/imgs/Muktangan-INHER-Workshop-for-students-2018-x.jpg
/.jekyll-cache/
_site/*
/.*~undo-tree~
_site/*
.DS_Store
assets/.DS_Store
_site/*
.DS_Store
_site/**
/index_before_pagination.html
/_includes/footer_v1.html
/chatgpt-styles-changes.diff
