---
layout: default
background-img: top_banner_logo2.jpg
---

{% for post in paginator.posts %}
<div class="blog-post">
    <a href="{{ post.url }}"><h2 class="blog-post-title">{{ post.title }}</h2></a>
    <p class="blog-post-meta">{{ post.date | date: "%-d %b %Y" }}</p>
    {% if post.teaser-img %} 
    <img src="{{ site.baseurl }}/assets/imgs/{{ post.teaser-img }}" class="img-responsive teaser-img-{{ post.teaser-orientation }}">
    {% endif %}
    {% if post.img-credit %} 
    <p style="font-size: 10px;"> &copy; {{ post.img-credit }} </p>
    {% endif %}
    <p class="post-content" style="margin-top: 10px;"> {{ post.meta }} <a href="{{ post.url }}">more</a></p>
    <hr id="index-hr">
</div>
{% endfor %}

<nav>
    <ul class="pagination">
        {% if paginator.previous_page %}
        <li>
            <a href="{{ paginator.previous_page_path }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% else %}
        <li class="disabled">
            <span aria-hidden="true">&laquo;</span>
        </li>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
        <li class="active"><span>{{ page }}</span></li>
        {% else %}
        <li><a href="{{ site.paginate_path | replace: ':num', page }}">{{ page }}</a></li>
        {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
        <li>
            <a href="{{ paginator.next_page_path }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% else %}
        <li class="disabled">
            <span aria-hidden="true">&raquo;</span>
        </li>
        {% endif %}
    </ul>
</nav>

  <div class="row" style="margin-top:10px">
    <div class="col-md-4 col-sm-3">
      <a href="/about/">
      <h2 class="rnp-fp-text">About</h2>
      <h5 class="rnp-fp-text">Taking the knowledge of natural history to higher levels</h5>
      </a>
    </div>
    <div class="col-md-6 hidden-xs">
      <a href="/about/">
        <img alt="about INHER" src="/assets/imgs/Butterfly_RNP.jpg" class="img-rounded img-responsive rnp-index-scale">
      </a>
    </div>
  </div> <!-- row -->

  <hr style="border-top: dotted 1px;">

  <div class="row" style="margin-top:10px">
    <div class="col-md-6 col-sm-8 hidden-xs">
      <a href="/people/">
        <img alt="INHER people" src="/assets/imgs/5711_Flowers_RNP.jpg" class="img-leftrounded img-responsive rnp-index-scale">
      </a>
    </div>
    <div class="col-md-4 col-sm-3">
      <a href="/people/">
      <h2 class="rnp-fp-text">People</h2>
      <h5 class="rnp-fp-text">A platform that brings large pool of experience together</h5>
      </a>
    </div>
  </div> <!-- row -->

  <hr>
  
  <div class="row" style="margin-top:10px">
    <div class="col-md-4 col-sm-3">
      <a href="/projects/">
      <h2 class="rnp-fp-text">Projects</h2>
      <h5 class="rnp-fp-text">A lot is going on</h5>
      </a>
    </div>
    <div class="col-md-6 col-sm-8 hidden-xs">
      <a href="/projects/">
        <img alt="INHER Projects" src="/assets/imgs/Kingfisher_RNP.jpg" class="img-rounded img-responsive rnp-index-scale">
      </a>
    </div>
  </div> <!-- row -->

  <hr>

  <div class="row" style="margin-top:10px">
    <div class="col-md-6 col-sm-8 hidden-xs">
      <a href="/publications/">
        <img alt="INHER publications" src="/assets/imgs/Microhyla_ADP.jpg" class="img-leftrounded img-responsive rnp-index-scale">
      </a>
    </div>
    <div class="col-md-4 col-sm-3">
      <a href="/publications/">
      <h2 class="rnp-fp-text">Publications</h2>
      <h5 class="rnp-fp-text">A vast knowledge pool in one place</h5>
      </a>
    </div>
  </div> <!-- row -->
  
      
  <!--
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
 -->
