---
layout: page
title: Scientific publications by our members
menuname: Publications
permalink: /publications/
---

<h4 style="margin-top:30px">Herptiles</h4>
<div class="table-responsive">
  <table class="table">
     <tbody>
     {% for pub in site.data.INHER_Publications %}
        {% if pub.Extra == "Herptiles" %}
     <tr>
         <td>{{ pub.Title }}. {{ pub.Author }}. ({{ pub.Publication_Year }}).</td>
     <td><a href="{{ pub.Url }}">link</a></td>
     </tr>
       {% endif %}
     {% endfor %}
    </tbody>
  </table>
</div>

<h4 style="margin-top:30px">Insects</h4>
<div class="table-responsive">
  <table class="table">
     <tbody>
     {% for pub in site.data.INHER_Publications %}
        {% if pub.Extra == "Insects" %}
     <tr>
         <td>{{ pub.Title }}. {{ pub.Author }}. ({{ pub.Publication_Year }}).</td>
     <td><a href="{{ pub.Url }}">link</a></td>
     </tr>
     {% endif %}
     {% endfor %}
    </tbody>
  </table>
</div>

<h4 style="margin-top:30px">Birds</h4>
<div class="table-responsive">
  <table class="table">
     <tbody>
     {% for pub in site.data.INHER_Publications %}
        {% if pub.Extra == "Birds" %}
     <tr>
         <td>{{ pub.Title }}. {{ pub.Author }}. ({{ pub.Publication_Year }}).</td>
     <td><a href="{{ pub.Url }}">link</a></td>
     </tr>
       {% endif %}
     {% endfor %}
    </tbody>
  </table>
</div>

<h4 style="margin-top:30px">Arachnida</h4>
<div class="table-responsive">
  <table class="table">
     <tbody>
     {% for pub in site.data.INHER_Publications %}
        {% if pub.Extra == "Arachnida" %}
     <tr>
         <td>{{ pub.Title }}. {{ pub.Author }}. ({{ pub.Publication_Year }}).</td>
     <td><a href="{{ pub.Url }}">link</a></td>
     </tr>
       {% endif %}
     {% endfor %}
    </tbody>
  </table>
</div>


